<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/check.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>

<body>
<br>
<center><img src="/images/CASPER.png"></center>
<div>
    <form class="box" action="/token_check" method="POST">
        <h1>토큰값을 입력해주세용 ^^</h1>
        <input type="text" maxlength=50 placeholder="토큰값 입력" name="token">
        <input type="submit" value="Submit">

    </form>
</div>
    <div id="footer">
        <p>
            This project is <a href="https://github.com/CASPER-REPSAC/Casper_registration_form">open source.</a>
        </p>
    </div>


</body>

</html>