<!DOCTYPE HTML>
<html>
    <!--회원가입정보를 입력하고 제출할 페이지-->
	<head>
		<meta charset='utf-8'>
	</head>
	<body>
		<h2>회원 가입 정보를 입력해주세용^^</h2>
		<form action="#" method="post">
			<div>
				<input type='text' value='username' placeholder='실명'>
			</div>
			<div>
				<input type='text' value='userid' placeholder='아이디'>
			</div>
			<div class='checkbox'>
				NAS용 <input type="checkbox" value="true">
				Wiki용 <input type="checkbox" value='true'>
			</div>
			<div>
				<input type="button" value="제출">
			</div>
		</form>
	</body>
</html>